In [ ]:
# First, you should profile data 

# Then, you should clean/prepare the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\ajitp\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('credit_test.csv')

In [3]:
df.head()

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314.0,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9.0,0.0,621908.0,1058970.0,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662.0,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11.0,0.0,679573.0,904442.0,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494.0,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10.0,0.0,38532.0,388036.0,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242.0,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16.0,1.0,156940.0,531322.0,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992.0,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14.0,0.0,359765.0,468072.0,0.0,0.0

In [ ]:
# Note: When there's a string data, which has a large number of unique values (5%, 25%, 50%, 100%), that's mostly of  
# no use for us

# Because that column refers to individuality, but as an analyst we don't check individual account too often.
# Rather, we work to find interesting facts, which can help the business/organization to make more informed decisions.

# We're only interested into individuality, when there's something very interesting about those

In [ ]:
# When you have a string column, use unique()

In [5]:
len(df['Loan ID'].unique()) # not a obvious choice

10001

In [6]:
len(df)

10353

In [7]:
len(df['Customer ID'].unique()) # not a obvious choice

10001

In [21]:
df['Term'].unique()

array(['Short Term', 'Long Term', nan], dtype=object)

In [22]:
len (df['Term'].unique()) / len(df)

0.0002897710808461316

In [25]:
df['Term'].value_counts()

Short Term    7295
Long Term     2705
Name: Term, dtype: int64

In [26]:
df['Term'].value_counts(dropna=False)

Short Term    7295
Long Term     2705
NaN            353
Name: Term, dtype: int64

In [11]:
df['Current Loan Amount']

0        611314.0
1        266662.0
2        153494.0
3        176242.0
4        321992.0
           ...
10348         NaN
10349         NaN
10350         NaN
10351         NaN
10352         NaN
Name: Current Loan Amount, Length: 10353, dtype: float64

In [10]:
df['Current Loan Amount'].isna().sum() #Percentage of missing values

353

In [14]:
(df['Current Loan Amount'].isna().sum() / len(df) )*100

3.4096397179561477

In [16]:
df['Current Loan Amount']

0        611314.0
1        266662.0
2        153494.0
3        176242.0
4        321992.0
           ...
10348         NaN
10349         NaN
10350         NaN
10351         NaN
10352         NaN
Name: Current Loan Amount, Length: 10353, dtype: float64

In [17]:
df['Credit Score'] # Domain knowledge

0        747.0
1        734.0
2        709.0
3        727.0
4        744.0
         ...
10348      NaN
10349      NaN
10350      NaN
10351      NaN
10352      NaN
Name: Credit Score, Length: 10353, dtype: float64

In [19]:
df['Credit Score'].isna().sum()

2334

In [20]:
(df['Credit Score'].isna().sum() / len(df) )*100

22.544190089829037

In [ ]:
# Transactional data # millions transaction every day

# Customer data #1000, 100000

# Online sales (Ecommerce) #Products (1000) #Sales (10000-15000 every day)

# Population demographic data

In [ ]:
# Assume some grocery store wants to open new locations in GTA.

# There have data for their existing 10 store.

# They would ask you, where should we open the store.

# Asian grocery store: asian

# Customer analysis (Customer Demographics about their race, religion, orientation/nationality, etc)

# 50% Indian background, 25% pakistani background, 10% bangladesh background.

In [ ]:
# Assume thats an starbucks

# Starbucks loves to open in Malls (Thats their obvious choice)

# WE have only 5-10 malls in this GTA area, but starbucks has lof of cafes.

# Starbucks wants a cafe in Vaughan. What should be checked before location recommendation?

# 1. Most traffic area, crowded (How you will get this data?)
# Assume your boss gives you 10 locations, and ask you for the best one.
# 2. Most visited plaza with more commercial stores
# 3. Highway exists (Oshawa to Kingston, local crowd, where does exit leads to, is there any special location?, how far is the exit?)
# 4. Office buildings
# 5. Schools/Universities (Count of students, and then you can check their fee as well)
# 6. House Prices, and Increase in house prices in last 5 years or so. (Residential area)

# Data collection (visits, list of stores, highway exists, office buildings, schools/universities, no. of people working)
# list of stores (what are stores, and you can get the popularity of the store in the region)
# If walmart/food basics/etc is in the same plaza, then it can be obvious choice.
# If there's no grocery, but office buildings, and there no starbucks in 5-10kms, then it too makes sense.
# demand forecasting