In [2]:
# Mostly used data structures in Python
# List - Covered
# String - Covered
# Tuple -
# Set
# Dictionary

# We'll cover these in data analysis part
# NumPy array
# Pandas dataframe

In [28]:
a = [1, 2]

In [29]:
a[0] = 10

In [30]:
a

[10, 2]

In [3]:
tup = 1, 2

In [4]:
tup

(1, 2)

In [32]:
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

In [7]:
tup1 = (1, 2)
tup1

(1, 2)

In [8]:
tup1 = (1, 2, 'a', 'b')

In [9]:
tup1

(1, 2, 'a', 'b')

In [18]:
tup2 = ( (1, "Jake"), (2, "John"), (3, "Marie")) # Tuple of Tuples

In [11]:
tup2

((1, 'Jake'), (2, 'John'), (3, 'Marie'))

In [13]:
type(tup2)

tuple

In [14]:
tup2[0]

(1, 'Jake')

In [15]:
type(tup2[0])

tuple

In [12]:
tup3 = [ (1, "Jake"), (2, "John"), (3, "Marie") ] # List of Tuples

In [16]:
type(tup3)

list

In [17]:
type(tup3[0])

tuple

In [19]:
tup4 = ((1, "Jake"), (2, "John"), [3, "Marie"]) # List in the tuple
# This is very rare occurence

In [20]:
type(tup4)

tuple

In [21]:
type(tup4[2])

list

In [ ]:
# Following two examples are examples of poorly written code

In [24]:
# Example 1

xL = [ [1, "John"], [2, "Jake"], (3, "Marie") ]

In [25]:
# Example 2

tupx = ((1, "Jake"), (2, "John"), [3, "Marie"])

In [37]:
# Outer data structure is called "enclosure data struture" 

# This doesn't matter what type of data structure is used by enclosure/outer structure/container

In [34]:
xL[2][0] = 10

TypeError: 'tuple' object does not support item assignment

In [38]:
xL[1][0] = 10

In [39]:
xL

[[1, 'John'], [10, 'Jake'], (3, 'Marie')]

In [35]:
tupx[2][0] = 30

In [36]:
tupx

((1, 'Jake'), (2, 'John'), [30, 'Marie'])

In [40]:
tupx[1][0] = 20

TypeError: 'tuple' object does not support item assignment

In [5]:
# You don't tuple in the programming a lot, but all of the function returns or few more data traversals make use of tuple.

In [6]:
aList = [1, 2, 3, 4, 5]
bList = ['a', 'b', 'c', 'd', 'e']

In [ ]:
# Flow Control

In [ ]:
# 1. Print values stored in aList one by one
# 2. If the value equals 3, don't print it
# 3. Otherwise, print the value

In [60]:
for val in aList:
    if val == 3:
        pass # do nothing, and continue
    else:
        print (val)

1
2
4
5

In [57]:
for val in aList:
    print (val)

1
2
3
4
5

In [50]:
# 1. Print values stored in aList one by one
# 2. If the value not equal to 3, don't print it

In [51]:
for val in aList:
    if val != 3:
        print (val)

1
2
4
5

In [22]:
# For Loop
# Python Function Basics

In [41]:
# For Loop

In [61]:
for x in aList: # X is variable, which takes the value returned by data structure in each iteration
    print (x)

1
2
3
4
5

In [62]:
for val in aList:
    print (val)

1
2
3
4
5

In [63]:
for val in bList:
    print (val)

a
b
c
d
e

In [69]:
# Alternative to the for loop above

In [71]:
len(aList)

5

In [70]:
for val in range(0, len(aList)):
    print (val)

0
1
2
3
4

In [74]:
len(aList), len(bList)

(5, 5)

In [ ]:
# This will continue till the length of aList

In [73]:
for val in range(0, len(aList)):
    print (aList[val], bList[val]) # aList[0], aList[1], aList[2] .... and so on

1 a
2 b
3 c
4 d
5 e

In [ ]:
# Its always advised to use the lists of same length for this kind of logic. Or you may ensure that second has 
# at least equal number of element

In [75]:
a1List = [1, 2, 3, 4, 5]
b1List = ['a', 'b', 'c', 'd']

In [82]:
for val in range(0, len(a1List)):
    print (val, a1List[val], b1List[val])

0 1 a
1 2 b
2 3 c
3 4 d

IndexError: list index out of range

In [77]:
a2List = [1, 2, 3, 4, 5]
b2List = ['a', 'b', 'c', 'd', 'e', 'f']

In [90]:
# This is best practice for iterating over multiple lists
for val in range(0, len(a2List)):
    print (a2List[val], b2List[val])

1 a
2 b
3 c
4 d
5 e

In [64]:
# How to print two or more lists together
# 1, a
# 2, b
# 3, c
# 4, d
# 5, e

In [68]:
# for val1, val2 in aList, bList: # Simplest syntax, but this won't work
#    print (val1, val2)

In [91]:
# Sometimes, when I have two lists of same size, then I prefer this one, because its easy to work with
for t in zip(aList, bList): # Zip is a kind of Iterator/Generator
    print (t)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [85]:
aList, bList

([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])

In [ ]:
# Zip function will function aList and bList into following
[(1, 'a'),
 (2, 'b'),
 (3, 'c'),
 (4, 'd'),
 (5, 'e')]

In [87]:
zip(aList, bList) # The structures which return the values one by one are known as Iterators/Generators

In [88]:
for t in zip(aList, bList): # Zip is a kind of Iterator/Generator
    print (t)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [89]:
for a, b in zip(aList, bList): # Destructure a tuple, and this is not a tuple anymore
    print (a, b)

1 a
2 b
3 c
4 d
5 e

In [92]:
cList = ['a', 'b', 'c', 'd', 'e']
# Sometimes, when I have two lists of same size, then I prefer this one, because its easy to work with
for t in zip(aList, bList, cList): # Zip is a kind of Iterator/Generator
    print (t)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'c')
(4, 'd', 'd')
(5, 'e', 'e')

In [94]:
for a, b, c in zip(aList, bList, cList): # Destructure a tuple, and this is not a tuple anymore
    print (a, b, c)

1 a a
2 b b
3 c c
4 d d
5 e e

# Time Complexity

# <font color='red'> THIS SECTION IS NOT IMPORTANT </font>

In [ ]:
aList

In [98]:
bList

['a', 'b', 'c', 'd', 'e']

In [99]:
# Program Flow

# Print "aList" and "bList" one-by-one (For Loop) [also known as "Iteration" or "Loop"]
# If aList has value of (3, 5), dont print anything or
# bList has value of 'd', dont print anything

In [103]:
for a, b in zip(aList, bList):
    if ( a not in (3, 5) ) or (b != 'd'):
        print (a, b)

1 a
2 b
3 c
4 d
5 e

In [105]:
for a, b in zip(aList, bList):
    if a not in (3, 5):
        print (a, b)

1 a
2 b
4 d

In [106]:
for a, b in zip(aList, bList):
    if b != 'd':
        print (a, b)

1 a
2 b
3 c
5 e

In [109]:
for a, b in zip(aList, bList):
    if a not in (3, 5) and b != 'd':
        print (a, b)

1 a
2 b

In [111]:
for a, b in zip(aList, bList): # Assumption, to store and print each value and each control statement takes "1 second"
    if a not in (3, 5):
        print (a, b)

1 a
2 b
4 d

In [ ]:
# Per Iteration
(1 + 1
 + 1 +
1 + 1) = 5 seconds

# For all iteration
5 x 5 = 25 seconds - 4 seconds = 21 seconds

In [114]:
21000000 / (60 * 60)

5833.333333333333

In [116]:
for val in range(0, len(aList)): # Assumption continued, length function take two seconds
    if aList[val] not in (3, 5):
        print (aList[val], bList[val])

1 a
2 b
4 d

In [ ]:
2 +


(1 + 
1
1 + 1)
4 x 5 = 20 + 2 = 22 - 4 = 18 seconds

In [115]:
18000000/ (60 * 60)

5000.0