# Data Structures
# <font color="red"> String and List </font>

In [1]:
# Strings

# Sequence

In [2]:
s1 = "My string"

In [3]:
s1

'My string'

In [4]:
s1 = '5'

In [5]:
a = 5

In [6]:
print (s1)
print (a)

5
5

In [7]:
type(s1)

str

In [8]:
type(a)

int

In [9]:
s1 = "My String"

In [10]:
s1

'My String'

In [11]:
s1[0]

'M'

In [12]:
# s1[0 to 5]
s1[0:5]

'My St'

In [ ]:
# 'My St' ranges from 0 to 4, and character at number 5 isn't extracted here

# Because Python use the concept of UpperLimit.

In [14]:
s1[0:10]

'My String'

In [15]:
len(s1) # len function is used to get the legth of a sequence

9

In [16]:
s1[0:9]

'My String'

In [18]:
s1[0:len(s1)] #s1[0:9]

'My String'

In [19]:
s1[0:2]

'My'

In [22]:
s1[:2] #default lower-limit / left-side value is zero

'My'

In [23]:
s1[3:len(s1)]

'String'

In [26]:
s1[3:] # its like writing s1[3:len(s1)]

'String'

In [27]:
s1[:]

'My String'

In [28]:
s1

'My String'

In [29]:
s2 = "Another String"

## String Concatenation

In [30]:
s1 + s2 # String concatenation

'My StringAnother String'

In [31]:
s1 + " " + s2

'My String Another String'

In [32]:
s1 + " " + s2 + " of " + s1

'My String Another String of My String'

## String function

In [33]:
# There are some built-in function with string type

In [34]:
s1

'My String'

In [35]:
s1.lower()

'my string'

In [36]:
s1.upper()

'MY STRING'

In [38]:
s1.find("s")

-1

In [39]:
s1.find("S")

3

In [40]:
s1.find("x")

-1

In [41]:
s2 = s1.lower()
s2.find("s")

3

In [42]:
s2

'my string'

In [45]:
s1.lower().find("s") # Chaining functions or function chaining # Scala (Main competitor of Python)

3

In [46]:
s2.find("s")

3

In [58]:
s3 = "people"
s4 = "CANADA"
s5 = '5'
s6 = '55554.5'

In [48]:
s3.islower()

True

In [50]:
s4.isupper()

True

In [51]:
s4.islower()

False

In [52]:
s5.isnumeric()

True

In [54]:
s5.isdecimal()

True

In [59]:
s6.isnumeric()

False

In [60]:
s6.isdecimal()

False

In [ ]:
int() # convert a numeric value stored as string to numeric type

In [69]:
int(s5)

5

In [62]:
a = int(s5) #typecasting or type conversion

In [68]:
type(s5)

str

In [64]:
type(a)

int

In [65]:
len(s1)

9

In [70]:
s1

'My String'

In [71]:
int(s1)

ValueError: invalid literal for int() with base 10: 'My String'

In [74]:
s7 = "value 5" # Alphanumeric or alphabetic strings can't be converted to integer type

In [75]:
int(s7)

ValueError: invalid literal for int() with base 10: 'value 5'

In [77]:
s10 = "This is a alphabetic string"

In [78]:
s10.count("i")

4

In [79]:
s10.find("i")

2

# List

In [82]:
my_list = [1, 2, 3, 4, 5]

In [83]:
my_list

[1, 2, 3, 4, 5]

In [84]:
my_list[0]

1

In [89]:
# Following are examples of "slicing" operations

In [85]:
my_list[0:3]

[1, 2, 3]

In [87]:
# UpperLimit is important, because this would be used very frequently
# In Python, sequence number starts from "Zero"

In [88]:
my_list[3:]

[4, 5]

In [90]:
# Why we call something a sequence?
# Because its in order.


# We'll come across some of the data structures in next classes, which are not sequences.

In [91]:
my_list

[1, 2, 3, 4, 5]

In [92]:
my_list[0] = 10

In [93]:
my_list

[10, 2, 3, 4, 5]

In [94]:
my_str = "my string"

In [95]:
my_str[0] = "M"

TypeError: 'str' object does not support item assignment

In [96]:
# This phenomenon is called is mutability or immutability

In [97]:
# List is mutable. Mutable mean you can change any value within a list

# String is immutable, which means you can't make a change within a string by assignment

In [98]:
my_str

'my string'

In [99]:
my_str.replace("g","x")

'my strinx'

In [100]:
my_str[8] = "x"

TypeError: 'str' object does not support item assignment

In [101]:
# Memory location. Data Structure memory reference.

# A little more about list

In [102]:
my_list2 = [1, 2, 3, 4, "a", "b", "c"]

In [103]:
my_list2

[1, 2, 3, 4, 'a', 'b', 'c']

In [104]:
my_list3 = [ [1, "Jake"], [2, "John"], [3, "Marie"]]

In [105]:
my_list3

[[1, 'Jake'], [2, 'John'], [3, 'Marie']]

In [106]:
my_list2[0]

1

In [107]:
my_list2[5]

'b'

In [108]:
my_list3[0]

[1, 'Jake']

In [113]:
my_list3[1][1]

'John'

In [114]:
my_list3[1][1].upper()

'JOHN'