In [1]:
# Python Class - 2
# Introduction to Operators

# Python Class - 2

# Introduction to Operatos

In [3]:
# Concept of headers in HTML
# HTML is web designing, primary language for webpage design.
# In HTML, we have heading tags
# <h1> </h1> ...... <h7> </h7>
# What if you want to highlight a section with different color

In [ ]:
#### <font color="red"> Note: Something important in this section. </font>

# Arithmatic Operators

In [ ]:
# Each line of code is known as a statement, and its expected to perform some kind of operation

In [19]:
# Example of addition operator
a = 5
b = 10
c = a + b
print ("Value of a variable is ", a, "and this value would be added to value of b")
print ("b =", b)
print ("Result of addition (c = a+ b):", c)
print (a+b)

Value of a variable is  5 and this value would be added to value of b
b = 10
Result of addition (c = a+ b): 15
15

In [28]:
# Example of substraction
a = 5
b = 10
c = b - a
print (b-a)
b - 4 # "b" and "4" are operands, and "-" is operator. and these together make an operation.

5

6

In [ ]:
# Example of Multiplication

In [ ]:
# Example of Division

In [29]:
# Modulus (%)
# This gives you the remainder
4 % 2

0

In [30]:
5 % 2

1

In [33]:
# Quotient / Rounding to floor or lower value
5 // 2

2

In [34]:
# Exponent / Power
2 ** 3 # equal 2 x 2 x 2 = 8

8

# Assignment Operator

In [35]:
# What is assignment?
# It when we assign a value to an object (Variable, List, etc)

5

In [50]:
# Assignment operator (=)
a = 5
print (a)

5

In [51]:
a = a + 2
print (a)

7

In [52]:
a += 2 #comprehension/alternative to last statement

In [53]:
print (a)

9

In [54]:
a -= 5
print (a)

4

In [55]:
b = 10

In [56]:
b /= 2
print (b)

5.0

In [57]:
# Numeric Formats/Literals
b = 2 # Integer /Real number
b = 2.0 # Float or Double /Decimal

# Try other assignment operators

# Comparison operators

In [59]:
5 == 5

True

In [60]:
5 == 3

False

In [61]:
5 != 3

True

In [62]:
5 != 5

False

In [63]:
5 < 3

False

In [64]:
5 > 3

True

In [65]:
5 <= 5

True

In [66]:
5 <= 4

False

In [67]:
5 >= 4

True

# Logical Operators

In [80]:
a = 5
b = 5

In [81]:
a == 5 and b == 5

True

In [82]:
a = 5
b = 4

In [85]:
a == 5 and b == 5 # Not-Recommended format

False

In [86]:
(a == 5) and (b == 5) # Recommended format

False

In [88]:
(a == 5) or (b == 5)

True

In [89]:
not (a == 5)

False

In [90]:
not (a > 5)

True

In [91]:
not True

False

In [92]:
not False

True

In [93]:
(a > 5)

False

In [94]:
not (a > 5)

True

# Identity Operators

In [96]:
5 is 5

True

In [95]:
5 == 5

True

In [97]:
5 is 4

False

In [98]:
5 is not 5

False

In [99]:
5 is not 4

True

In [ ]:
# Membership Operators

In [108]:
1 in my_list

True

In [109]:
10 in my_list

False

In [110]:
1 not in my_list

False

In [111]:
10 not in my_list

True

In [101]:
# Data structure or sequence known as "List"
# list can contain multiple values of either same or different types

In [112]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [105]:
print (my_list[0])

1

In [107]:
print (my_list[2])
print (my_list[3])

3
4

In [ ]:
#

# Python Class - 2

# Introduction to Operatos

## Python - 2

### Python - 3

#### Python - 4

##### Python - 5